__pycache__/
*.py[cod]
*$py.class
*.so

.pytest_cache/
.ruff_cache/
.ipynb_checkpoints
*/.ipynb_checkpoints/*

.env
.venv
env/
venv/
ENV/

.DS_Store
.vscode/
.idea/
tmp/

bin/
build/
dist/
*.egg-info/

data/*
!data/test/
!data/test/**
